@font-face {
    font-family: "Mitr";
    src: url("/fonts/mitr/Mitr-Medium.ttf");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "Mitr-Light";
    src: url("/fonts/mitr/Mitr-Light.ttf");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "Mitr-Normal";
    src: url("/fonts/mitr/Mitr-Regular.ttf");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "Quark-Bold";
    src: url("/fonts/Quark/Quark-Bold.otf");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Priyati";
    src: url("/fonts/Priyati/Priyati-Regular.ttf");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato/Lato-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}